---
layout: default
title: Slava Maslennikov
---

<div id="home">
<h1>I am Slava Maslennikov <a href="https://travis-ci.org/smaslennikov/smaslennikov.github.io"><img src="https://travis-ci.org/smaslennikov/smaslennikov.github.io.svg?branch=master"></a></h1>

<p>I'm a <a href="https://www.linkedin.com/in/slava-maslennikov-a48b2a20/">Senior Cloud Engineer at SADA Systems, Inc.</a><br />

Poke me via <a href=mailto:me@smaslennikov.com?Subject=Can%20I%20buy%20you%20a%20beer?>email</a> maybe<br />

Pizza donations are always welcome<br />

<br />

Here's my <a href="resume.pdf">resume</a><br />

Here's this <a href="https://github.com/smaslennikov/smaslennikov.github.io">repository</a><br />

Here're some <a href="rhymes/">haikus and rhymes</a><br />

<br />

<h2>Notable projects</h2>
<a href="https://github.com/smaslennikov/smaslennikov.github.io/blob/master/bin/migrate_bdr_to_postgres.sh">Here</a> is a script for migrating PostgreSQL BDR to a standalone instance<br />
<a href="https://smaslennikov.com/whattimeisitrightmeow/">Here's</a> a devopsy clock I made. Here's <a href="https://smaslennikov.com/whattravisisitrightmeow/">another</a><br />

<a href="https://github.com/JaveLLC/">Jave</a> is future<br />

<a href="https://gist.github.com/smaslennikov/4e098131fa78edc39b40b7587f73b7b0">These lyrics</a> were really hard to find<br />

<br />

<h2>Presentations</h2>
Here're my <a href="grindr-demo-day-1/">presentations</a> (yeah, <a href="grindr-demo-day-2/">two</a>) for Grindr's weekly Demo Day<br />

Here's my <a href="cissp-access-mgmt-presentation/">presentation on a couple CISSP chapters</a> from the NRHL days<br />

<br />

<h2>Others</h2>
John Paul Hayes II drinks kombucha and has a pretty cool <a href="https://bwackwat.com/">site</a><br />

James Khang is taking control of his skillset by building a <a href="https://20minutesadayblog.wordpress.com/">game</a><br />

Bryce Case makes music and talks shit on the internet like a <a href="https://ytcracker.com">boss</a><br />

Naftuli Kay is an engineer (not of trains), he does things <a href="https://naftuli.wtf/">right</a><br />

<br />

cheers!</p>
